body{
    margin: 0;
    padding: 0;
}


/* NavBar */
nav{
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #78909C;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav>h2{
    margin: auto;
    margin-bottom: 10px;
    color: white;
}

/* HandBurger option */
#menu{
    cursor: pointer;
    margin-left: 55px;
    color: white;
}


/* Main Window */
#mainWindow{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* text-align: center; */
}

/* Main Menu */

#mainMenu{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap: 15px;
    border-right: 2px solid #78909C;
    padding: 25px;
    height: 50%;
}


#mainMenu button{
    height: 110%;
    background-color: #80CBC4;
    color: white;
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}

#mainMenu button:hover{
    background-color: #4DB6AC;
}

/* Main Display */

#mainDisplay{
    width: 80%;
    padding: 25px;
}

/* Logout */

#logOut{
    cursor: pointer;
    margin-right: 50px;
    color: white;
}

/* Members List */
table{
    width: 80%;
    text-align: center;
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    border: none;
}
td{
    border: 1px solid rgb(219, 217, 217);
    /* border: none; */
}
th{
    height: 50px;
}

#addForm input{
    padding: 10px;
}
thead{
    background-color: #80CBC4;
    color: white;
}

.deleteBtns,
.editBtns{
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    font-weight: 550;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.editBtns{
    background-color: #97b6c6;
    color: white;
}
.editBtns:hover{
    background-color: gainsboro;
    color: black;
}
.deleteBtns{
    background-color: #EF9A9A;
    color: white;
}
.deleteBtns:hover{
    background-color: #E57373;
}

#addForm>input:last-child{
    background-color: #4DB6AC;
    color: white;
    border: 0;
    border-radius: 5px;
}
#addForm>input:last-child:hover{
    background-color: #80CBC4;
}
