body{
    margin: 0;
    padding: 0;
}


/* NavBar */
nav{
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #78909C;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav>h2{
    margin: auto;
    margin-bottom: 10px;
    color: white;
}

/* HandBurger option */
#menu{
    cursor: pointer;
    margin-left: 55px;
    color: white;
}


/* Main Window */
#mainWindow{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* text-align: center; */
}

/* Main Menu */

#mainMenu{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap: 15px;
    border-right: 1px solid black;
    padding: 25px;
    height: 50%;
}

#mainMenu button{
    height: 110%;
    background-color: #80CBC4;
    color: white;
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}

#mainMenu button:hover{
    background-color: #4DB6AC;
}



/* Main Display */

#mainDisplay{
    width: 80%;
    padding: 25px;
}

/* Logout */

#logOut{
    cursor: pointer;
    margin-right: 50px;
    color: white;
}

/* Chart Details */

#top_x_div{
    margin-top: 75px;
}

#donutchart{
    margin-top: 75px;
}

#mainCharts{
    display: flex;
}

/* Dashboard Options */

#mainDisplay button{
    border: 0;
    height: 55px;
    margin: 10px;
    width: 20%;
    border-radius: 10px;
    font-size: 100%;
    padding: 5px;
    font-weight: 550;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}

#mainDisplay>button:nth-child(1){
    background-color: #49a4ff;
}
#mainDisplay>button:nth-child(2){
    background-color: #81C784;
}
#mainDisplay>button:nth-child(3){
    background-color: #FF8A65;
}
#mainDisplay>button:nth-child(4){
    background-color: #78909C;
}
