body{
    margin: 0;
    padding: 0;
}


/* NavBar */
nav{
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #78909C;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav>h2{
  margin: auto;
  margin-bottom: 10px;
  color: white;
}

/* HandBurger option */
#menu{
  cursor: pointer;
  margin-left: 55px;
  color: white;
}


/* Main Window */
#mainWindow{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* text-align: center; */
}

#showProd,#addProd,#editProd{
    height: 35px;
    width: 140px;
    background-color: #cb80c7;
    color: white;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}

#showProd:hover,#addProd:hover,#editProd:hover{
  background-color: #bc49b6;
}

/* Main Menu */

#mainMenu{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap: 15px;
    border-right: 2px solid #78909C;
    padding: 25px;
    height: 50%;
}

#mainMenu button{
  height: 110%;
  background-color: #80CBC4;
  color: white;
  margin-bottom: 15px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 550;
}

#mainMenu button:hover{
  background-color: #4DB6AC;
}

/* Main Display */

#mainDisplay{
    width: 80%;
    padding: 25px;
}

 /* Grid Display */
 #gridDisplay{
    margin-top: 15px;
    height: auto;
    display: grid;
    gap:  20px 6px;
    /* border: 1px solid red;    */
 }

 #gridDisplay > div {
    margin: auto;
    text-align: left;
    /* width: 250px; */
    /* height: 450px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: rgb(25, 207, 28);
  }


  /* Image Div */
  #imgDiv{
    width: 100%;
    height: 30%;
    border-radius: 15px;
    border: 2px solid #64cd63;
  }

  img{
    width: 50%
  }


  /* Adding Form */
#productAddingForm{
  width: 350px;
  /* height: 460px; */
  border: 1px solid rgb(230, 230, 230);
  border-radius: 20px;
  text-align: center;
  /* margin: 50px 0 0 400px; */
  margin: 15% 90%;
  box-shadow: rgba(8, 240, 43, 0.3) 0px 1px 2px 0px, rgba(10, 238, 21, 0.233) 0px 2px 6px 2px;
  }

#productAddingForm > input,select,label {
  width: 60%;  
  height: 30px;
  margin: 5px 0px;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 15px;
  border: 1px solid rgb(206, 206, 206);
}
#productAddingForm > input:focus{
  outline: 1px solid rgb(2, 250, 2);
  border: 0;
}
#productAddingForm > #submitButton{
    width: 80%;
    height: 40px;
    margin: 15px 0;
    background-color: rgb(51, 171, 53);
    color: white;
    font-size: 18px;
    border: 1px solid rgb(206, 206, 206);
}
#productAddingForm > #submitButton:hover{
    background-color: rgb(24, 222, 27);
    border: 2px solid rgb(168, 148, 148);
    cursor: pointer;
}

/* Updating Products */
#gridDisplay > #updatingProducts{
    width: 360px;
    /* height: 460px; */
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
    text-align: center;
    margin: 10% 90%;
    box-shadow: rgba(8, 240, 43, 0.3) 0px 1px 2px 0px, rgba(159, 163, 159, 0.233) 0px 2px 6px 2px;
    }
  
#gridDisplay > #updatingProducts > input,select,label {
    width: 60%;  
    height: 30px;
    margin: 5px 0px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid rgb(206, 206, 206);
  }
  #gridDisplay > #updatingProducts > input:focus{
    outline: 1px solid rgb(2, 250, 2);
    border: 0;
  }
  #gridDisplay > #updatingProducts > #submitButton{
      width: 80%;
      height: 40px;
      margin: 15px 0;
      background-color: rgb(51, 171, 53);
      color: white;
      font-size: 18px;
      border: 1px solid rgb(206, 206, 206);
  }
  #gridDisplay > #updatingProducts > #submitButton:hover{
      background-color: rgb(24, 222, 27);
      border: 2px solid rgb(168, 148, 148);
      cursor: pointer;
  }

  /* Delete Products */

  .delDiv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }

  .delbtn{
    height: 35px;
    width: 140px;
    background-color: #64cd63;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
  }

  .delbtn:hover{
    background-color: rgb(58, 213, 61);
    /* border: 2px solid rgb(168, 148, 148); */
    cursor: pointer;
  }


  /* Pagination */
  #pagination-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
  }

  .pagination-button{
    width: 60px;
    height: 35px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(255, 197, 90);
  }

  .pagination-button:hover{
    background-color: rgb(255, 184, 52);
  }


    /* Media Query */
  @media (min-width: 500px) {
    #gridDisplay{
        grid-template-columns: repeat(1,1fr);  
     }
     #gridDisplay > div {
        width: 70%;
        height: auto;
    }
    #gridDisplay > .addProduct{
        margin-left: 10%;
    }  
  }

  @media (min-width: 700px) {
    #gridDisplay{
        grid-template-columns: repeat(2,1fr);  
    }
    #gridDisplay > div {
        width: 90%;
        height: auto;
    }
    #gridDisplay > .addProduct{
        margin-left: 150px;
    } 
  }
  
  @media (min-width: 1000px) {
    #gridDisplay{
        grid-template-columns: repeat(3,30%); 
        gap: 10px 25px;
        margin: auto;
    }
    #gridDisplay > div {
        /* height: auto; */
      }
    #gridDisplay > .addProduct{
        margin-left: 130%;
    } 
  }
  
/* Logout */

#logOut{
    cursor: pointer;
    margin-right: 50px;
    color: white;
}