*{
    margin: 0%;
    padding: 0%;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    grid-template-areas: 
    "nav nav nav nav"
    "filter product product product";
}

#navbar {
    width: 90%;
    height: 200px;
    border: 2px solid red;
    margin: auto;
    grid-area: nav;
}


/**************Products Page*************/
#filter{
    grid-area: filter;
    border: 2px solid red;
}

#products{
    grid-area: product;
    border: 2px solid red;
}